
.default{
  color: black;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
.wrapper{
  font-size: 30px;
  display: flex;
}
.schoolDiv{
  display: flex;
  border-style: solid;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}
.workDiv{
  flex: 1;
  display: flex;
  border-style: solid;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}
@import "~bootstrap/scss/bootstrap";
