img.resize {
    width:540px; /* you can use % */
    height: auto;
}

body {
  padding-left: 5px;
}
.background{
  background-color: white;
}
#input-group-append button[disabled="disabled"]{
  background-color: blue;
}
.riotGameWrapper{
  background: white;
  border-width: medium;
  border-style: solid;
  border-color: black;
}
.innerRiotGameWrapper{
  border-radius: 1px;
  border-width: medium;
  border-style: solid;
  border-color: gray;
}
#team1{
  width: 50%;
  float: left;
}
#gameMode{
  width: 100%;
   text-align:center;
   font-size:175%;
}
